{% extends "base.html" %}

{% block title %}List{% endblock title %}

{% block content %}
<br>
<div class="row">
    {% for pet in pets %}
    <div class="col-xs-12 col-md-4 col-lg-3">
        <div class="card my-card">
          {%if pet.image%}
          <img src="{{pet.image.url}}" height=200 width=200>
          {%endif%} 
          <div class="card-body">
            <h5 class="card-title">{{pet.name}}</h5>
            <p class="card-text">age = {{pet.age|truncatechars:25}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">
                <a href="{% url 'pet-detail' pet.id %}" class="btn btn-outline-dark">View</a>
            </li>
          </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}

